{% extends 'admin/login-layout.html.twig' %}
{% block title %}Neobe-TER : Login{% endblock %}
{% block body%}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header"><img src="{{ asset('/front/img/logo-neobe-safedata.jpg') }}" alt="logo" title="logo"></div>
        <div class="card-body">
            <form id="login">
                <h2> Connectez vous à votre espace Neobe-TER</h2>
                <div class="form-group">
                    {#<label for="exampleInputEmail1">Email address</label>#}
                    <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Login / E-mail">
                </div>
                <div class="form-group">
                    {#<label for="exampleInputPassword1">Password</label>#}
                    <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember Password</label>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" href="index.html">Login</a>
            </form>
            <div class="text-center">
                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}