/docker-compose.override.yaml
/docker-compose.override.yml
.idea/*
/.idea/*
/.env
api/config/packages/api_platform.yaml
api/config/packages/parameters.yml
api/config/packages/doctrine.yaml
/api/vendor/*
api/.env
