Bonjour {{ user.firstname|capitalize }} {{ user.lastname|upper }}, <br>
<br>
Veuillez confirmer la création de votre compte Neobe en suivant ce lien:<br>
<a href="https://preprod-ter.dropcloud.fr/{{ user.hash }}" target="_blank">https://preprod-ter.dropcloud.fr/{{ user.hash }}</a> <br>
<br>
Cordialement,
<br><br>
L'équipe Neobe-ter.