{% extends 'front/layout.html.twig' %}

{% block body_id 'step1' %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 step-active" style="text-align: center;">
            <i class="fa fa-download"></i>
        </div>
        <div class="col-lg-10">
            <div class="col col-12 step-active step-label">
                2. Je télécharge et j’installe le logiciel NeoBe+.
            </div>
            <p>
                Téléchargez la version de NeoBe+ correspondant à votre environnement (PC, Mac, Linux).
                Installez cette version avec les identifiants reçus par émail.
            </p>
        </div>
    </div>
    <p>L’email qui vous a été adressé après validation de votre compte NeoBe contient
        le numéro de compte et le mot de passe pour installer votre premier poste NeoBe+.<p>
    <h2 class="text-black"> Le logiciel NeoBe+ doit être installé sur chaque poste à sauvegarder.</h2>
    <p>
        Votre contrat SAFE DATA vous permet de bénéficier de 5 licences NeoBe+ à installer sur
        vos machines (workstation, portable ou serveur).
    </p>
    <p>
        Le logiciel NeoBe+ permet :
    </p>
    <ul>
        <li>De créer des tâches de sauvegardes planifiées</li>
        <li>Parcourir l’espace de sauvegarde pour restaurer tout ou partie des données</li>
    </ul>
    <h2 class="text-black">
        Téléchargez et installez la version du logiciel NeoBe+ correspondant
        à votre système d’exploitation.
    </h2>
    <div class="row ">
        <div class="row item-download">
            <div class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/windows/64/neobepluswin64.exe" title="Télécharger">
                    <div class="img-rounded system download"> <i class="fa fa-windows"></i></div>
                </a>
            </div>
            <div class="col-lg-8">
                <p class="title">Logiciel NeoBe Plus pour Windows 64</p>
                <strong>Compatible : </strong> VISTA et supérieures – 64bits – Version 1.42 – Date de distribution : 25-04-2017
            </div>
            <div  class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/windows/64/neobepluswin64.exe" title="Télécharger">
                    <div class="img-rounded download icon"> <i class="fa fa-download"></i></div>
                </a>
            </div>
        </div>
        <div class="row item-download">
            <div class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/windows/32/neobepluswinx86.exe" title="Télécharger">
                    <div class="img-rounded system download"> <i class="fa fa-windows"></i></div>
                </a>
            </div>
            <div class="col-lg-8">
                <p class="title">Logiciel NeoBe Plus pour Windows 32</p>
                <strong>Compatible : </strong> 2003 et supérieures – 32bits – Version 1.42 – Date de distribution : 25-04-2017
            </div>
            <div  class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/windows/32/neobepluswinx86.exe" title="Télécharger">
                    <div class="img-rounded download icon"> <i class="fa fa-download"></i></div>
                </a>
            </div>
        </div>
        <div class="row item-download">
            <div class="col-lg-2">
                 <a href="https://www.neobe.com/neobe/download/mac/neobeplusmac.dmg" title="Télécharger">
                    <div class="img-rounded system download"> <i class="fa fa-apple"></i></div>
                 </a>
            </div>
            <div class="col-lg-8">
                <p class="title">Logiciel NeoBe Plus pour Mac</p>
                <strong>Compatible :</strong> MAC OS X 10.8 et + Version 1.42 – Date de distribution : 25-04-2017
            </div>
            <div  class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/mac/neobeplusmac.dmg" title="Télécharger">
                    <div class="img-rounded download icon"> <i class="fa fa-download"></i></div>
                </a>
            </div>
        </div>
        <div class="row item-download">
            <div class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/linux/neobepluslinux.tar.gz" title="Télécharger">
                    <div class="img-rounded system download"> <i class="fa fa-linux"></i></div>
                </a>
            </div>
            <div class="col-lg-8">
                <p class="title">Logiciel NeoBe Plus pour Linux</p>
                <strong>Compatible :</strong> Linux Avec Interface graphique – Debian/Ubuntu/CentOs –
                Linux 64bits – Version 1.42 – Date de distribution : 25-04-2017
            </div>
            <div  class="col-lg-2">
                <a href="https://www.neobe.com/neobe/download/linux/neobepluslinux.tar.gz" title="Télécharger">
                    <div class="img-rounded download icon"> <i class="fa fa-download"></i></div>
                </a>
            </div>
        </div>
        <div class="row item-download">
            <div class="col-lg-2">
                <a href="https://www.neobe.com/neobe/Notice_NeoBe_Plus.pdf" title="Télécharger">
                    <div class="img-rounded pdf download "> <i class="fa fa-file-pdf-o"></i></div>
                </a>
            </div>
            <div class="col-lg-8">
                <p class="title">Notice NeoBe Plus</p>
                <strong>Notice :</strong> Linux Avec Interface graphique – Debian/Ubuntu/CentOs –
                Linux 64bits – Version 1.42 – Date de distribution : 25-04-2017
            </div>
            <div  class="col-lg-2">
                <a href="https://www.neobe.com/neobe/Notice_NeoBe_Plus.pdf" title="Télécharger">
                    <div class="img-rounded download icon"> <i class="fa fa-download"></i></div>
                </a>
            </div>
        </div>
        <div class="row item-download next-step"><a href="#" class="link_1" >Etape suivante</a></div>
    </div>
{% endblock %}