{% extends 'admin/login-layout.html.twig' %}
{% block title %}{{ 'login.title'|trans({},'label', 'fr') }} - {{ 'login.reset_password'|trans({},'label', 'fr') }}{% endblock %}
{% block body%}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header"><img src="{{ asset('/admin/img/logo-neobe.jpg') }}" alt="logo" title="logo"></div>
            <div class="card-body">
                <p class="login-box-msg form-signin">Un e-mail a été envoyé à l'adresse email du compte. </p><p> Il contient un lien sur
                    lequel il vous faudra cliquer afin de réinitialiser votre mot de passe.</p>
                <p class="login-box-msg form-signin">Cliquez sur ce <b><a href="{{ path('fos_user_security_login') }}">lien</a></b> pour se connecter.</p>
                <p>Merci</p>
            </div>
        </div>
    </div>
{% endblock %}