{% extends 'admin/login-layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body%}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header"><img src="{{ asset('/front/img/logo-neobe-safedata.jpg') }}" alt="logo" title="logo"></div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Mot de passe oublié</h4>
                <p>Entrer votre adresse email pour récuperer votre mot de passe</p>
            </div>
            <form>
                <div class="form-group">
                    <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
                </div>
                <a class="btn btn-primary btn-block" href="login.html">Récuperer</a>
            </form>
            <div class="text-center">
                <a class="d-block small" href="#">Administration</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}