{% extends 'front/layout.html.twig' %}
{% block title %}Activation pack - Mention légale{% endblock %}
{% block body_id 'step1' %}
{% block header_title %}
    Mention légale
{% endblock %}
{% block body %}
    {{ widgetLegalMention()|raw }}
    <div class=" " style="margin-top: 30px">
        <div class="row item-download next-step"><a href="{{ path('steps_one',{'token':token}) }}" class="link_1" >< Retour à l'étape précédente</a></div>
    </div>
{% endblock %}