{% extends 'front/layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body_id 'step1' %}

{% block body %}
    <br>
    <p>Bonjour Monsieur {% if partner.id is defined %}{{ partner.lastname }}{% endif %},</p>
    <p>Dans le cadre de votre contrat SAFE DATA vous bénéficiez d’un pack de sauvegarde informatique en ligne NeoBe pour 5 machines (workstation, portable ou serveur) et 20Go de sauvegarde par machine, soit 100Go au total.<p>
    <h2 class="text-black"> NeoBe est la solution de sauvegarde informatique intégrée à votre contrat SAFE DATA qui vous permet d’assurer la protection complète de vos données.</h2>
    <p><strong>Votre compte NeoBe inclut : </strong></p>
    <ul>
        <li>les licences du logiciel de sauvegarde NeoBe+ compatible Windows et MAC</li>
        <li>votre espace de sauvegarde à distance sécurisé en France</li>
        <li>Une assistance technique illimitée par téléphone et e-mail ainsi qu’une garantie de restitution des données sauvegardées.</li>
    </ul>
    <div class="row">
        <div class="col-lg-2 step active" style="text-align: center;">
            <i class="fa fa-check"></i>
        </div>
        <div class="col-lg-10">
            <div class="col step active step-label">
                1. Je valide mon compte NeoBe+ et je reçois mes identifiants.
            </div>
            <p>
                Validez votre compte NeoBe+ et recevez immédiatement les informations
                (identifient et mot de passe) pour réaliser la sauvegarde de votre premier poste informatique.
            </p>
            <br>
            {% if partner.hash is defined %}
            <form action="{{ path('steps_two',{'token':partner.hash}) }}" method="post">
            {% else %}
            <form action="{{ path('steps_two_') }}" method="post">
            {% endif %}
                <div class="container">
                    <div class="form-group row">
                        <p style="text-align: center">
                            <input type="checkbox" name="create-account" id="create-account" checked style="margin-right: 15px; margin-left: 15px;" >
                            <span>Créer des licences</span>
                        </p>
                    </div>
                    <div class="form-group row create-account">
                        <label for="" class="col-sm-4">Nombre de licences à créer:</label>
                        <div class="col-sm-8">
                            <input required="required" type="number" name="nb_licences_a_creer" class="form-control step" id="nb_licences_a_creer" placeholder="00">
                        </div>
                    </div>
                    <div class="form-group row create-account">
                        <label for="" class="col-sm-4">Volume par licence(Go):</label>
                        <div class="col-sm-8">
                            <input required="required" type="number" name="volume_par_licence_Go" class="form-control step" id="volume_par_licence_Go" placeholder="00 Go">
                        </div>
                    </div>
                    <p style="">
                        <input type="checkbox" style="margin-right: 15px" required="required">
                        <span>J'accepte <a href="#">les termes et condition</a> de Neobe+ pour SAFE DATA</span>
                    </p>
                </div>

                <div class="col" style="text-align: center;">
                    <button type="submit"  class="link_1 wra" >Je valide et je recois mes identifients NeoBe+</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}