{% extends 'front/layout.html.twig' %}
{% block title %}Activation pack - Etape 1{% endblock %}
{% block body_id 'step1' %}

{% block body %}
    <br>
    <p>Bonjour Monsieur {% if partener.id is defined %}{{ partener.lastname }}{% endif %},</p>
    <p>Dans le cadre de votre contrat SAFE DATA vous bénéficiez d’un pack de sauvegarde informatique en ligne NeoBe pour 5 machines (workstation, portable ou serveur) et 20Go de sauvegarde par machine, soit 100Go au total.<p>
    <h2 class="text-black"> NeoBe est la solution de sauvegarde informatique intégrée à votre contrat SAFE DATA qui vous permet d’assurer la protection complète de vos données.</h2>
    <p><strong>Votre compte NeoBe inclut : </strong></p>
    <ul>
        <li>les licences du logiciel de sauvegarde NeoBe+ compatible Windows et MAC</li>
        <li>votre espace de sauvegarde à distance sécurisé en France</li>
        <li>Une assistance technique illimitée par téléphone et e-mail ainsi qu’une garantie de restitution des données sauvegardées.</li>
    </ul>
    <div class="row">
        <div class="col-lg-2 step active" style="text-align: center;">
            <i class="fa fa-check"></i>
        </div>
        <div class="col-lg-10">
            <div class="col step active step-label">
                1. Je valide mon compte NeoBe+ et je reçois mes identifiants.
            </div>
            <p>
                Validez votre compte NeoBe+ et recevez immédiatement les informations
                (identifient et mot de passe) pour réaliser la sauvegarde de votre premier poste informatique.
            </p>
            <br>
            {% if partener.hash is defined %}
            <form action="{{ path('steps_two',{'token':partener.hash}) }}" method="post">
            {% else %}
            <form action="{{ path('steps_two_') }}" method="post">
            {% endif %}
                <p style="text-align: center">
                    <input type="checkbox" style="margin-right: 15px">
                    <span>J'accepte <a href="#">les termes et condition</a> de Neobe+ pour SAFE DATA</span>
                </p>
                <div class="col" style="text-align: center;">
                    <button type="submit"  class="link_1 wra" >Je valide et je recois mes identifients NeoBe+</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}